.header {
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.top1 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    padding: 20px 50px;
    align-items: center;
}

.qq {
    display: flex;
    gap: 20px;
    margin-right: 500px;
}

.q{
    color: white;
    text-decoration: none;
}
.q:hover{
    color:#ffcc00 ;
}


.movie-detail {
    background-color: #0d0d0d;
    padding: 50px 20px;
    color: #fff;
}

.movie-detail-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.6);
    overflow: hidden;
}

.movie-detail-image img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.movie-detail-info {
    flex: 1 1 400px;
    padding: 30px;
}

.movie-detail-info h2 {
    color: #ffcc00;
    font-size: 28px;
    margin-bottom: 15px;
}

.movie-description {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 20px;
    line-height: 1.6;
}

.movie-duration {
    color: #ffcc00;
    font-weight: 600;
    margin-bottom: 10px;
}

.performance-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #111;
    
}
.me{
    display: flex;
    justify-items: space-around;
    align-items: center; 
  gap:30px
}

.performance-section h2 {
    color: #ffcc00;
    margin-bottom: 30px;
}

.performance-table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    color: #eee;
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hi
}

.pritty{
    font-weight: 500;
    background-color: #9c9a9a;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(138, 137, 135);
    border: 2px solid #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 15px; 
    letter-spacing: 1px;
    line-height: 0.3;

    
}
.pritty p{
    color: #000000;
}

.pritty:hover{
    border: 2px solid #ffab00;

}