body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}


.text p ,a{
    color: black;
}

.text p:hover,a:hover {
    color: #FF8A00;

}

.magaz span {
    padding: 5px 20px;
    background-color: #3FA72F;
    border: none;
    color: white;
    border-radius: 40px;
    align-self: center;

}

.qq {
    display: flex;
    gap: 20px;
    margin-right: 500px;
}

.top1 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    padding: 20px 50px;
    align-items: center;
}

.home {
    display: none;
}

.q{
    color: white;
    text-decoration: none;
}
.q:hover{
    color:#ffcc00 ;
}

.header {
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 60px 40px;
    padding: 15px;
}

.movie-card {
    background-color: #1a1a1a;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    /* margin: 50px; */
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.7);
}

.movie-poster {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.movie-info {
    padding: 20px;
}
.text p{
    color: white;
}

.movie-title {
    color: #ffcc00;
    margin-bottom: 10px;
}

.movie-description {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}
.movie-descriptions {
    font-size: 15px;
    color: black;
    font-weight: 700 ;
    padding:15px;
    background-color: #ffcc00;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 10px rgb(66, 66, 66);

}
.movie-descriptions:hover{
    transform:scale(1.05) ;
    transition: transform 0.3s, background-color 0.3s;
    background-color: #3FA72F;
}


.movie-duration {
    color: #ffcc00;
    font-weight: bold;
}

.movie-status {
    margin-top: 10px;
}

.active {
    color: #4caf50;
    font-weight: bold;
}

.inactive {
    color: #ff3d00;
    font-weight: bold;
}

.footer {
    background-color: #111;
    text-align: center;
    padding: 15px;
    color: #777;
    font-size: 14px;
}
